CompileFlags:
  Add: 
    - "-ferror-limit=0"
    - "-fopenmp"
  CompilationDatabase: "build/debug"

Diagnostics: 
    Suppress: 
        - builtin_definition
        - attribute_wrong_number_arguments
        - conflicting_types